include LICENSE
include README.md
include README.zh-CN.md
include README.ja.md

recursive-include src/cccc/ports/web/dist *
recursive-include src/cccc/resources *.md

global-exclude *.pyc __pycache__/* .DS_Store
